# Intermediate HTML files
# *.html

# LaTeX intermediates
# *.aux
# *.bbl
# *.blg
# *.log
# *.out

# Output files not subject to version control
# *.tex
# *.pdf
# *.docx

# GASP (proprietary)
gaspall.f
quietgasp
